name: Build And Test

on:
  push:
  release:
    types: [published]

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

jobs:
  build-and-test:
    timeout-minutes: 30
    name: Build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ macos-12, ubuntu-22.04 ] #, windows-2022
        include:
          # - os: windows-2022
          #   build_command: cmake --build build-dir --parallel --target install
          - os: ubuntu-22.04
            build_command: cmake --build build-dir --parallel --target install
          - os: macos-12
            # 2024-01-05: Sometimes mac fails on github actions when doing builds so we use make without parallellism directly, since we hope that fixes the unknown problem.
            build_command: cd build-dir && make -j 1 install

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Configure cmake
        run: mkdir build-dir && cd build-dir && cmake -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/artifacts -Dsctp_werror=OFF ..

      - name: Build
        run: ${{matrix.build_command}}

      - name: Test run
        run: ${{ github.workspace }}/artifacts/bin/webrtc_unit_test --log_level=all

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts_${{matrix.os}}
          path: ${{ github.workspace }}/artifacts
          if-no-files-found: warn
